body,html{
    height: 100%;
    padding: 0;
    margin: 0;
}
canvas{
    height: 100%;
    position: absolute;
    z-index: 0;
}
.center{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.cloud-img{
    width: 400px;
    background-image: url('1.svg');
}
.image{
    z-index: 1000;
}
#cloud1{
    float: left;
    z-index: 100;
}
#cloud2{
    float: right;
    z-index: 100;

}
.dd{
    z-index: 100;
}
#cloud3{
    margin: auto;
    z-index: 100;

}
#about{
    display: none;
}
#spon{
    display: none;
}
#faq{
    display: none;
}
.content{
    height: 90%;
    width: 70%;
    top: 5%;
    left: 15%;
    background-color: rgba(0, 68, 255, 0.384);
    border-radius: 40px;
    position: fixed;
    z-index: 10;
    opacity: 0;
    transition: all 1s;
}