body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #6696ba;
    transition: all 1s;
    /* background-color: rgb(66, 0, 151); */
    overflow: hidden;

}
canvas{
    height: 100%;
    position: absolute;
    z-index: 5;
}
.center{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    margin-top:4% ;
    flex-direction: column;
}
.logo-bg{
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 0;
}
.logo{
    margin-top:15% ;
    width: 20%;
}
.cloud-img{
    width: 30%;
}
.dd{
    z-index: 10;

}
#cloud2{
    float: left;
    z-index: 10;
}
#cloud3{
    float: right;
    margin: 0px;
    padding: 0;
    z-index: 10;

}
#cloud1{
    margin: 0 auto;
    z-index: 10;

}
#about{
    display: none;
}
#spon{
    display: none;
}
#faq{
    display: none;
}
.content{
    height: 80%;
    width: 70%;
    top: 5%;
    left: 15%;
    background-color: 	#6696ba;
    border-radius: 40px;
    position: fixed;
    opacity: 0;
    transition: all 1s;
    box-shadow: 10px 10px 8px #888888;
    padding: 20px;
    overflow: auto;
    -ms-overflow-style: none;    
}
.content::-webkit-scrollbar {
    display: none;
}
#about{
    margin: 10%;
}